@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
    padding: 5rem 0;
    h3 {
        text-align: center;
        color: v.$blanco;
        margin-bottom: 1rem;
    };
    .contenedor-boletos {
        @include m.tablet {
            @include m.grid(2,5rem);
        }
    };
    .pase {
        color: v.$negro;
        .nombre-pase {
            text-align: center;
            color:v.$blanco;
            font-size: 2.8rem;
        };
        &-header, &-footer {
            padding: .5rem;
            p {
                text-align: center;
                color: v.$blanco;
                margin: 0;
            };
        };

        &-header {
            background-color: v.$rosa;
            p {
                text-transform: uppercase;
            };
        };
        &-body {
            background-color: v.$blanco;
            ul {
                @include m.resetear-lista;
                li, :nth-child(odd) {
                    background-color: v.$blanco;
                    padding: 2rem;
                    border-bottom: 1px solid #c9c4c4;
                }
            }
        };
        &-footer {
            background-color: v.$morado;
            p {
                font-size: 2.4rem;
                font-weight: 600;
            }
        };

        .sombra {
            @include m.sombra;
        }
    };
};